@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-github-black-primary;
  }

  .white-border {
    @apply border-b-[1px] border-b-[#373A40];
  }

  .white-border-r {
    @apply border-r-[1px] border-r-[#373A40];
  }

  .white-border-t {
    @apply border-t-[1px] border-t-[#373A40];
  }

  .input-icon {
    @apply absolute right-4 text-xl cursor-pointer;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  button {
    @apply text-lg;
  }

  input {
    @apply focus:outline-blue-500 outline outline-1 outline-slate-400 w-full px-4 py-2 rounded-lg bg-github-black-primary;
  }

  input[type="radio"] {
    @apply outline-none focus:outline-none bg-github-black-primary;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-moz-autofill {
  -moz-text-fill-color: $black;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:-o-autofill {
  -o-text-fill-color: $black;
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:-khtml-autofill {
  -khtml-text-fill-color: $black;
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

input:focus:-webkit-autofill {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-moz-autofill {
  -moz-text-fill-color: $black;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-o-autofill {
  -o-text-fill-color: $black;
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-khtml-autofill {
  -khtml-text-fill-color: $black;
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}
